header{
  background: linear-gradient(rgba(0,0,0, 0.5), rgba(0,0,0, 0.5)), url(img/projectbg.jpg);
  background-size: cover;
}

.navbar{
	color: white;
  background: rgba(0, 0, 0, 0.4);
}
.btn{
	border-radius: 0;
	border: 1px solid white;
	color: white;
	background-color: transparent;
	display: block;
	margin: auto;
}
.btn:hover{
	border-radius: 0;
	border: 1px solid white;
	color: black;
	background-color: white;
}