body{
	margin: 0;
	padding: 0;
	background: linear-gradient(rgba(0,0,0, 0.5), rgba(0,0,0, 0.5)), url(img/services.jpg);
    height: 100vh;
    background-size: cover;
    background-position: center;
	font-family: 'Josefin Sans', sans-serif;
}
.services{
	margin: 90px auto;
	text-align: center;
}
h1{
	letter-spacing: 1px;
}
.icon{
	font-size: 40px;
	margin: 20px auto;
	padding: 20px;
	height: 80px;
	width: 80px;
	border: 1px solid white;
	border-radius: 50%;
}
.box{
	color: white;
	padding: 40px;
	background: rgba(0, 0, 0, 0.6);
	box-shadow: 0px 0px 8px 4px black;
	border-radius: 12px;
}
.btn{
	border-radius: 0;
	border: 1px solid white;
	color: white;
	background-color: transparent;
	display: block;
	margin: auto;
}
.btn:hover{
	border-radius: 0;
	border: 1px solid white;
	color: black;
	background-color: white;
}